<div class="header-page">
    <span>Thống Kê</span>
</div>
<div class="content-page">
    <mat-tab-group>
        <mat-tab label="Danh sách">
            <mat-tab-group>
                <mat-tab label="Chi bộ (BM1)" style="position: relative;">
                    <div class="inputGroup">
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Chi bộ</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.chiBo" (ngModelChange)="selectChiBo()">
                                <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
                                {{cb.tenChiBo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Tình trạng Đảng viên</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.tinhTrangDangVien" (ngModelChange)="selectTinhTrangDangVien()">
                                <mat-option *ngFor="let data of tinhTrangDangVien" [value]="data.value">
                                    {{data.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="buttonGroup">
                        <button (click)="chayBaoCaoBM1()" class="btn btn-secondary">Chạy</button>
                        <button (click)="phieuDangVien()" style="margin-right: 10px" class="btn btn-success">Xuất ra tập tin</button>
                    </div>
                    <table #phieuDangVienRef>
                        <thead>
                            <tr>
                                <th colspan="27">
                                    ĐẢNG CỘNG SẢN VIỆT NAM
                                </th>
                            </tr>
                            <tr>
                                <th colspan="14">
                                    ĐẢNG BỘ THÀNH PHỐ HỒ CHÍ MINH
                                </th>
                                <th colspan="13"></th>
                            </tr>
                            <tr>
                                <th colspan="14">
                                    ĐẢNG BỘ QUẬN 5
                                </th>
                                <th colspan="13"></th>
                            </tr>
                            <tr>
                                <th colspan="14">
                                    ĐẢNG BỘ PHƯỜNG 10
                                </th>
                                <th colspan="13"></th>
                            </tr>
                            <tr>
                                <th colspan="27">
                                    PHIẾU ĐẢNG VIÊN
                                </th>
                            </tr>
                            <tr>
                                <th colspan="6">Chi bộ: {{displayChiBoText}}</th>
                                <th colspan="6">Tình trạng Đảng viên: {{displayTinhTrangDangVienText}}</th>
                                <th colspan="15"></th>
                            </tr>
                            <tr>
                                <th rowspan="2">CHI BỘ</th>
                                <th rowspan="2">HỌ TÊN KHAI SINH</th>
                                <th rowspan="2">HỌ TÊN ĐANG DÙNG</th>
                                <th rowspan="2">SỐ THẺ ĐẢNG VIÊN</th>
                                <th rowspan="2">GIỚI TÍNH</th>
                                <th rowspan="2">NGÀY, THÁNG, NĂM SINH</th>
                                <th rowspan="2">QUÊ QUÁN</th>
                                <th rowspan="2">ĐỊA CHỈ</th>
                                <th rowspan="2">NƠI THỰC TẾ CƯ TRÚ</th>
                                <th rowspan="2">DÂN TỘC</th>
                                <th rowspan="2">TÔN GIÁO</th>
                                <th rowspan="2">NGÀY VÀO ĐẢNG</th>
                                <th rowspan="2">NGÀY CHÍNH THỨC</th>
                                <th rowspan="2">NGÀY VÀO ĐOÀN</th>
                                <th colspan="2">CHỨC VỤ HIỆN NAY</th>
                                <th rowspan="2">TRÌNH ĐỘ HỌC VẤN, HỌC VỊ, HỌC HÀM (THPT; ĐH, CĐ, TC, TH; ThS, TS; (PGS,
                                    GS)</th>
                                <th rowspan="2">TRÌNH ĐỘ NGOẠI NGỮ</th>
                                <th rowspan="2">LÝ LUẬN CHÍNH TRỊ (CC, TC, SC)</th>
                                <th rowspan="2">CHÍNH SÁCH CÓ CÔNG (TB, LS, CCCM)</th>
                                <th colspan="3">TÌNH TRẠNG QUẢN LÝ</th>
                                <th rowspan="2">ĐÃ NHẬN HUY HIỆU ĐẢNG (70, 65, 60, 55, 50, 45, 40, 30)</th>
                                <th rowspan="2">KHEN THƯỞNG</th>
                                <th rowspan="2">KỶ LUẬT (KTr, CCa, CCh, KT)</th>
                                <th rowspan="2">NGÀY KỶ LUẬT</th>
                            </tr>
                            <tr>
                                <th>Đảng (BT, PBT, CUV, ĐV)</th>
                                <th>Chính quyền, Đoàn thể</th>
                                <th>KHÔNG CÒN QUẢN LÝ (TT, CĐi, CĐT, XT, CR, KT)</th>
                                <th>ĐANG QUẢN LÝ (ĐSH, MSH, CT)</th>
                                <th>NGÀY CHUYỂN TÌNH TRẠNG QUẢN LÝ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tkDangVienDangQuanLyDataBM1">
                                <td>{{item.tenChiBo}}</td>
                                <td>{{item.tenKhaiSinh}}</td>
                                <td>{{item.tenDangDung}}</td>
                                <td>{{item.soTheDangVien}}</td>
                                <td>{{getTextGioiTinh(item.gioiTinh)}}</td>
                                <td>{{item.ngaySinh}}</td>
                                <td>{{item.queQuan}}</td>
                                <td>{{item.thuongTru}}</td>
                                <td>{{item.tamTru}}</td>
                                <td>{{getTextDanToc(item.danToc)}}</td>
                                <td>{{item.tonGiao}}</td>
                                <td>{{item.ngayVaoDang}}</td>
                                <td>{{item.ngayChinhThucVaoDang}}</td>
                                <td>{{item.ngayVaoDoan}}</td>
                                <td>--</td>
                                <td>--</td>
                                <td>{{getTrinhDo(item)}}</td>
                                <td>{{item.ngoaiNgu}}</td>
                                <td>{{getTextLyLuanChinhTri(item.lyLuanChinhTri)}}</td>
                                <td>--</td>
                                <td>{{!isQuanLy(item.tinhTrangQuanLy) ? getTextTinhTrangQuanLy(item.tinhTrangQuanLy) : ''}}</td>
                                <td>{{isQuanLy(item.tinhTrangQuanLy) ? getTextTinhTrangQuanLy(item.tinhTrangQuanLy) : '' }}</td>
                                <td>{{item.ngayChuyenTinhTrangQuanLy}}</td>
                                <td>{{item.huyHieu}}</td>
                                <td>{{item.khenThuong}}</td>
                                <td>{{getTextKyLuat(item.kyLuat)}}</td>
                                <td>{{item.ngayKyLuat}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <span *ngIf="tkDangVienDangQuanLyDataBM1.length ===0">Không có dữ liệu được tìm thấy .</span>
                </mat-tab>
                <mat-tab label="Đảng viên (BM2)">
                    <div class="inputGroup">
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Chi bộ</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.chiBo" (ngModelChange)="selectChiBo()">
                                <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
                                {{cb.tenChiBo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Tình trạng Đảng viên</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.tinhTrangDangVien" (ngModelChange)="selectTinhTrangDangVien()">
                                <mat-option *ngFor="let data of tinhTrangDangVien" [value]="data.value">
                                    {{data.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Xếp loại Đảng viên</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.xepLoaiDangVien" (ngModelChange)="selectXepLoaiDangVien()">
                                <mat-option *ngFor="let data of xepLoai" [value]="data.value">
                                    {{data.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Tình trạng sinh hoạt</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.mienSinhHoat"  (ngModelChange)="selectTinhTrangSinhHoat()" >
                                <mat-option *ngFor="let data of danhSachMienSinhHoat" [value]="data.value">
                                    {{data.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="buttonGroup">
                        <button (click)="chayBaoCaoBM2()" class="btn btn-secondary">Chạy</button>
                        <button (click)="tkDangVienBM2()" style="margin-right: 10px" class="btn btn-success">Xuất ra tập tin</button>
                    </div>
                    <table #tkDangVienRefBM2>
                        <thead>
                            <tr>
                                <th colspan="7">ĐẢNG BỘ QUẬN 5</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="8">ĐẢNG CỘNG SẢN VIỆT NAM</th>
                            </tr>
                            <tr>
                                <th colspan="7">ĐẢNG UỶ PHƯỜNG 10</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="8"></th>
                            </tr>
                            <tr>
                                <th colspan="7">*</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="8">Phường 10, ngày ... tháng … năm …</th>
                            </tr>
                            <tr>
                                <th colspan="18">
                                    <h4>DANH SÁCH ĐẢNG VIÊN ĐANG QUẢN LÝ</h4>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="5">Chi bộ: {{displayChiBoText}}</th>
                                <th colspan="4">Tình trạng Đảng viên: {{displayTinhTrangDangVienText}}</th>
                                <th colspan="4">Tình trạng sinh hoạt: {{displayTinhTrangSinhHoatText}}
                                </th>
                                <th colspan="5">Xếp loại Đảng viên: {{displayXepLoaiDangVienText}}</th>
                            </tr>
                            <tr>
                                <th rowspan="2">STT</th>
                                <th rowspan="2">CHI BỘ</th>
                                <th rowspan="2">HỌ TÊN ĐANG DÙNG</th>
                                <th rowspan="2">SỐ THẺ ĐẢNG</th>
                                <th colspan="2">NGÀY, THÁNG, NĂM SINH</th>
                                <th rowspan="2">ĐỊA CHỈ</th>
                                <th rowspan="2">NƠI THỰC TẾ CƯ TRÚ</th>
                                <th rowspan="2">DÂN TỘC</th>
                                <th rowspan="2">TÔN GIÁO</th>
                                <th colspan="2">TRÌNH ĐỘ</th>
                                <th colspan="2">CHỨC VỤ HIỆN NAY</th>
                                <th rowspan="2">NGÀY VÀO ĐẢNG</th>
                                <th rowspan="2">NGÀY CHÍNH THỨC</th>
                                <th rowspan="2">TUỔI ĐẢNG</th>
                                <th rowspan="2">MIỄN SINH HOẠT</th>
                            </tr>
                            <tr>
                                <th>NAM</th>
                                <th>NỮ</th>
                                <th>TRÌNH ĐỘ HỌC VẤN, HỌC VỊ, HỌC HÀM</th>
                                <th>LÝ LUẬN CHÍNH TRỊ</th>
                                <th>ĐẢNG</th>
                                <th>CHÍNH QUYỀN, ĐOÀN THỂ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tkDangVienDangQuanLyDataBM2; let i = index">
                                <td>{{(i+1)}}</td>
                                <td>{{item.tenChiBo}}</td>
                                <td>{{item.tenDangDung}}</td>
                                <td>{{item.soTheDangVien}}</td>
                                <td>{{item.gioiTinh === gioiTinhNam ? item.ngaySinh : ''}}</td>
                                <td>{{item.gioiTinh === gioiTinhNu ? item.ngaySinh : ''}}</td>
                                <td>{{item.thuongTru}}</td>
                                <td>{{item.tamTru}}</td>
                                <td>{{getTextDanToc(item.danToc)}}</td>
                                <td>{{item.tonGiao}}</td>
                                <td>{{getTrinhDo(item)}}</td>
                                <td>{{getTextLyLuanChinhTri(item.lyLuanChinhTri)}}</td>
                                <td>--</td>
                                <td>--</td>
                                <td>{{item.ngayVaoDang}}</td>
                                <td>{{item.ngayChinhThucVaoDang}}</td>
                                <td>{{item.tuoiDang}}</td>
                                <td>{{item.mienCongTacNgay}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <span *ngIf="tkDangVienDangQuanLyDataBM2.length === 0">Không có dữ liệu được tìm thấy .</span>
                </mat-tab>
                <mat-tab label="Thống kê ĐK (BM3)">
                    <div class="inputGroup">
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Chi bộ</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.chiBo" (ngModelChange)="selectChiBo()">
                                <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
                                {{cb.tenChiBo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Giới tính</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.gioiTinh" (ngModelChange)="selectGioiTinh()">
                                <mat-option *ngFor="let cb of gioiTinh" [value]="cb.value">
                                {{cb.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Tình trạng sinh hoạt</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.mienSinhHoat"  (ngModelChange)="selectTinhTrangSinhHoat()" >
                                <mat-option *ngFor="let data of danhSachMienSinhHoat" [value]="data.value">
                                    {{data.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="inputGroup">
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Kỷ luật</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.kyLuat" (ngModelChange)="selectKyLuat()">
                                <mat-option *ngFor="let kyluat of danhSachKyLuat" [value]="kyluat.value">
                                {{kyluat.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="buttonGroup">
                            <button (click)="chayBaoCaoBM3()" class="btn btn-secondary">Chạy</button>
                            <button (click)="tkDangVienBM3()" style="margin-right: 10px;" class="btn btn-success">Xuất ra tập tin</button>
                        </div>
                    </div>
                    <table #tkDangVienRefBM3>
                        <thead>
                            <tr>
                                <th colspan="7">ĐẢNG BỘ QUẬN 5</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="8">ĐẢNG CỘNG SẢN VIỆT NAM</th>
                            </tr>
                            <tr>
                                <th colspan="7">ĐẢNG UỶ PHƯỜNG 10</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="8"></th>
                            </tr>
                            <tr>
                                <th colspan="7">*</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="8">Phường 10, ngày ... tháng … năm …</th>
                            </tr>
                            <tr>
                                <th colspan="18">
                                    <h4>DANH SÁCH ĐẢNG VIÊN ĐANG QUẢN LÝ</h4>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="4">Chi bộ: {{displayChiBoText}}</th>
                                <th colspan="3">Giới tính: {{displayGioiTinhText}}</th>
                                <th colspan="2"></th>
                                <th colspan="4">Tình trạng sinh hoạt: {{displayTinhTrangSinhHoatText}}</th>
                                <th colspan="3">
                                </th>
                                <th colspan="2">Kỷ luật: {{displayKyLuatText}}</th>
                            </tr>
                            <tr>
                                <th rowspan="2">STT</th>
                                <th rowspan="2">CHI BỘ</th>
                                <th rowspan="2">HỌ TÊN ĐANG DÙNG</th>
                                <th rowspan="2">SỐ THẺ ĐẢNG</th>
                                <th colspan="2">NGÀY, THÁNG, NĂM SINH</th>
                                <th rowspan="2">ĐỊA CHỈ</th>
                                <th rowspan="2">NƠI THỰC TẾ CƯ TRÚ</th>
                                <th rowspan="2">DÂN TỘC</th>
                                <th rowspan="2">TÔN GIÁO</th>
                                <th colspan="2">TRÌNH ĐỘ</th>
                                <th colspan="2">CHỨC VỤ HIỆN NAY</th>
                                <th rowspan="2">NGÀY VÀO ĐẢNG</th>
                                <th rowspan="2">NGÀY CHÍNH THỨC</th>
                                <th rowspan="2">TUỔI ĐẢNG</th>
                                <th rowspan="2">MIỄN SINH HOẠT</th>
                            </tr>
                            <tr>
                                <th>NAM</th>
                                <th>NỮ</th>
                                <th>TRÌNH ĐỘ HỌC VẤN, HỌC VỊ, HỌC HÀM</th>
                                <th>LÝ LUẬN CHÍNH TRỊ</th>
                                <th>ĐẢNG</th>
                                <th>CHÍNH QUYỀN, ĐOÀN THỂ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tkDangVienDangQuanLyDataBM3; let i = index">
                                <td>{{(i+1)}}</td>
                                <td>{{item.tenChiBo}}</td>
                                <td>{{item.tenDangDung}}</td>
                                <td>{{item.soTheDangVien}}</td>
                                <td>{{item.gioiTinh === gioiTinhNam ? item.ngaySinh : ''}}</td>
                                <td>{{item.gioiTinh === gioiTinhNu ? item.ngaySinh : ''}}</td>
                                <td>{{item.thuongTru}}</td>
                                <td>{{item.tamTru}}</td>
                                <td>{{getTextDanToc(item.danToc)}}</td>
                                <td>{{item.tonGiao}}</td>
                                <td>{{getTrinhDo(item)}}</td>
                                <td>{{getTextLyLuanChinhTri(item.lyLuanChinhTri)}}</td>
                                <td>--</td>
                                <td>--</td>
                                <td>{{item.ngayVaoDang}}</td>
                                <td>{{item.ngayChinhThucVaoDang}}</td>
                                <td>{{item.tuoiDang}}</td>
                                <td>{{item.mienCongTacNgay}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <span *ngIf="tkDangVienDangQuanLyDataBM3.length === 0">Không có dữ liệu được tìm thấy .</span>
                </mat-tab>
                <mat-tab label="Huy hiệu Đảng" style="position: relative;">
                    <div class="inputGroup">
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Đợt</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.dot" (ngModelChange)="selectDot()">
                                <mat-option *ngFor="let data of dotTangHuyHieuDang" [value]="data.value">
                                {{data.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="inputitem" appearance="legacy">
                            <mat-label>Năm</mat-label>
                            <mat-select [(ngModel)]="phieuDangVienOptionModel.nam" [placeholder]="phieuDangVienOptionModel.nam">
                                <mat-option *ngFor="let data of nam" [value]="data">
                                    {{data}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="buttonGroup">
                        <button (click)="chayBaoCaoDanhHieuDang()" class="btn btn-secondary">Chạy</button>
                        <button (click)="tkDanhSachNhanHuyHieuDang()" style="margin-right: 10px" class="btn btn-success">Xuất ra tập tin</button>
                    </div>
                    <table #tkDsNhanHuyHieuDangRef>
                        <thead>
                            <tr>
                                <th colspan="6">
                                    QUẬN ỦY QUẬN 5
                                </th>
                                <th colspan="5">
                                    ĐẢNG CỘNG SẢN VIỆT NAM
                                </th>
                            </tr>
                            <tr>
                                <th colspan="6">
                                    ĐẢNG ỦY PHƯỜNG 10
                                </th>
                                <th colspan="5">
                                    <h4></h4>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="6">
                                    *
                                </th>
                                <th colspan="5">
                                    Phường 10, ngày ... tháng ... năm …
                                </th>
                            </tr>
                            <tr>
                                <th colspan="11">
                                    <h4>DANH SÁCH ĐẢNG VIÊN</h4>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="11">
                                    <h5>Đề nghị tặng Huy hiệu đảng {{displayDotText}}</h5>
                                </th>
                            </tr>
                            <tr>
                                <th>TUỔI ĐẢNG <br>(Phải tròn so <br>với ĐỢT THÁNG)</th>
                                <th>HỌ TÊN KHAI SINH</th>
                                <th>HỌ TÊN ĐANG DÙNG</th>
                                <th>NGÀY SINH</th>
                                <th>QUÊ QUÁN</th>
                                <th>NGÀY QUYẾT ĐỊNH KẾT NẠP</th>
                                <th>NGÀY VÀO ĐẢNG</th>
                                <th>NGÀY CHÍNH THỨC</th>
                                <th>SỐ THẺ ĐẢNG</th>
                                <th>CHI BỘ</th>
                                <th>GHI CHÚ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tkDsNhanHuyHieuDang; let i = index">
                                <td>{{item.tuoiDang}}</td>
                                <td>{{item.tenKhaiSinh}}</td>
                                <td>{{item.tenDangDung}}</td>
                                <td>{{item.ngaySinh}}</td>
                                <td>{{item.queQuan}}</td>
                                <td>{{item.ngayQuyetDinhKetNap}}</td>
                                <td>{{item.ngayVaoDang}}</td>
                                <td>{{item.ngayChinhThucVaoDang}}</td>
                                <td>{{item.soTheDangVien}}</td>
                                <td>{{item.tenChiBo}}</td>
                                <td>{{item.ghiChu}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <span *ngIf="tkDsNhanHuyHieuDang.length === 0">Không có dữ liệu được tìm thấy .</span>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
        <mat-tab label="Xếp loại">
            <mat-tab-group>
            <mat-tab label="Xếp Loại Đảng viên">
                <div class="inputGroup">
                    <mat-form-field class="inputitem" appearance="legacy">
                        <mat-label>Chi bộ</mat-label>
                        <mat-select [(ngModel)]="phieuDangVienOptionModel.chiBo" (ngModelChange)="selectChiBo()">
                            <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
                            {{cb.tenChiBo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="inputitem" appearance="legacy">
                        <mat-label>Năm</mat-label>
                        <mat-select [(ngModel)]="phieuDangVienOptionModel.nam">
                            <mat-option *ngFor="let data of nam" [value]="data">
                                {{data}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="inputitem" appearance="legacy">
                        <mat-label>Xếp loại Đảng viên</mat-label>
                        <mat-select [(ngModel)]="phieuDangVienOptionModel.xepLoaiDangVien" (ngModelChange)="selectXepLoaiDangVien()">
                            <mat-option *ngFor="let data of xepLoai" [value]="data.value">
                                {{data.display}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="buttonGroup">
                    <button (click)="chayXepLoaiDangVien()" class="btn btn-secondary">Chạy</button>
                    <button (click)="tkXepLoaiDangVien()" style="margin-right: 10px" class="btn btn-success">Xuất ra tập tin</button>
                </div>
                <table #tkXepLoaiDangVienRef>
                    <thead>
                        <tr>
                            <th colspan="6">ĐẢNG BỘ QUẬN 5</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="10">ĐẢNG CỘNG SẢN VIỆT NAM</th>
                        </tr>
                        <tr>
                            <th colspan="6">ĐẢNG UỶ PHƯỜNG 10</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="10"></th>
                        </tr>
                        <tr>
                            <th colspan="6">*</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="10">Phường 10, ngày ... tháng … năm …</th>
                        </tr>
                        <tr>
                            <th colspan="19">
                                <h4>Xếp Loại Đảng Viên</h4>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="4">Chi bộ: {{displayChiBoText}}</th>
                            <th colspan="6"></th>
                            <th colspan="4">Năm: {{this.phieuDangVienOptionModel.nam}}
                            </th>
                            <th colspan="5">Xếp loại Đảng viên: {{displayXepLoaiDangVienText}}</th>
                        </tr>
                        <tr>
                            <th rowspan="2">STT</th>
                            <th rowspan="2">CHI BỘ</th>
                            <th rowspan="2">HỌ TÊN ĐANG DÙNG</th>
                            <th rowspan="2">SỐ THẺ ĐẢNG</th>
                            <th colspan="2">NGÀY, THÁNG, NĂM SINH</th>
                            <th rowspan="2">ĐỊA CHỈ</th>
                            <th rowspan="2">NƠI THỰC TẾ CƯ TRÚ</th>
                            <th rowspan="2">DÂN TỘC</th>
                            <th rowspan="2">TÔN GIÁO</th>
                            <th colspan="2">TRÌNH ĐỘ</th>
                            <th colspan="2">CHỨC VỤ HIỆN NAY</th>
                            <th rowspan="2">NGÀY VÀO ĐẢNG</th>
                            <th rowspan="2">NGÀY CHÍNH THỨC</th>
                            <th rowspan="2">TUỔI ĐẢNG</th>
                            <th rowspan="2">Xếp loại</th>
                            <th rowspan="2">Năm</th>
                        </tr>
                        <tr>
                            <th>NAM</th>
                            <th>NỮ</th>
                            <th>TRÌNH ĐỘ HỌC VẤN, HỌC VỊ, HỌC HÀM</th>
                            <th>LÝ LUẬN CHÍNH TRỊ</th>
                            <th>ĐẢNG</th>
                            <th>CHÍNH QUYỀN, ĐOÀN THỂ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tkXepLoaiDangVienData; let i = index">
                            <td>{{(i+1)}}</td>
                            <td>{{item.tenChiBo}}</td>
                            <td>{{item.tenDangDung}}</td>
                            <td>{{item.soTheDangVien}}</td>
                            <td>{{item.gioiTinh === gioiTinhNam ? item.ngaySinh : ''}}</td>
                            <td>{{item.gioiTinh === gioiTinhNu ? item.ngaySinh : ''}}</td>
                            <td>{{item.thuongTru}}</td>
                            <td>{{item.tamTru}}</td>
                            <td>{{getTextDanToc(item.danToc)}}</td>
                            <td>{{item.tonGiao}}</td>
                            <td>{{getTrinhDo(item)}}</td>
                            <td>{{getTextLyLuanChinhTri(item.lyLuanChinhTri)}}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>{{item.ngayVaoDang}}</td>
                            <td>{{item.ngayChinhThucVaoDang}}</td>
                            <td>{{item.tuoiDang}}</td>
                            <td>{{getTextXepLoai(item.xepLoai)}}</td>
                            <td>{{item.namXepLoai}}</td>
                        </tr>
                    </tbody>
                </table>
                <span *ngIf="tkXepLoaiDangVienData.length === 0">Không có dữ liệu được tìm thấy .</span>
            </mat-tab>
            <mat-tab label="Xếp Loại Chi bộ" style="position: relative;">
                <div class="inputGroup">
                    <!-- <mat-form-field class="inputitem" appearance="legacy">
                        <mat-label>Chi bộ</mat-label>
                        <mat-select [(ngModel)]="phieuDangVienOptionModel.chiBo" (ngModelChange)="selectChiBo()">
                            <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
                            {{cb.tenChiBo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="inputitem" appearance="legacy">
                        <mat-label>Năm</mat-label>
                        <mat-select [(ngModel)]="phieuDangVienOptionModel.nam">
                            <mat-option *ngFor="let data of nam" [value]="data">
                                {{data}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="inputitem" appearance="legacy">
                        <mat-label>Xếp loại Chi Bộ</mat-label>
                        <mat-select [(ngModel)]="phieuDangVienOptionModel.xepLoaiDangVien" (ngModelChange)="selectXepLoaiDangVien()">
                            <mat-option *ngFor="let data of xepLoai" [value]="data.value">
                                {{data.display}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="buttonGroup">
                    <button (click)="chayXepLoaiChiBo()" class="btn btn-secondary">Chạy</button>
                    <button (click)="tkXepLoaiChiBo()" style="margin-right: 10px" class="btn btn-success">Xuất ra tập tin</button>
                </div>
                <table #tkSoXepLoaiChiBoRef>
                    <thead>
                        <tr>
                            <th colspan="5">ĐẢNG BỘ QUẬN 5</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="9">ĐẢNG CỘNG SẢN VIỆT NAM</th>
                        </tr>
                        <tr>
                            <th colspan="5">ĐẢNG UỶ PHƯỜNG 10</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="9"></th>
                        </tr>
                        <tr>
                            <th colspan="5">*</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="9">Phường 10, ngày ... tháng … năm …</th>
                        </tr>
                        <tr>
                            <th colspan="17">
                                <h4>Xếp Loại Chi Bộ</h4>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="4">Năm: {{this.phieuDangVienOptionModel.nam}}</th>
                            <th colspan="4">Xếp loại Chi Bộ: {{displayXepLoaiDangVienText}}</th>
                            <th colspan="4"></th>
                            <th colspan="5"></th>
                        </tr>
                        <tr>
                            <th rowspan="2">STT</th>
                            <th rowspan="2">CHI BỘ</th>
                            <th rowspan="2">ĐẢNG SỐ</th>
                            <th rowspan="2">DÂN TỘC KHÁC</th>
                            <th rowspan="2">MIỄN SINH HOẠT</th>
                            <th rowspan="2">SINH HOẠT TẠM</th>
                            <th rowspan="2">ĐẢNG VIÊN DỰ BỊ</th>
                            <th rowspan="2">SỐ ĐẢNG VIÊN NHẬN HUY HIỆU ĐẢNG</th>
                            <th colspan="4">XẾP LOẠI ĐẢNG VIÊN</th>
                            <th colspan="3">LÝ LUẬN CHÍNH TRỊ</th>
                            <th rowspan="2">Xếp loại</th>
                            <th rowspan="2">Năm</th>
                        </tr>
                        <tr>
                            <td>Xuất sắc</td>
                            <td>Tốt</td>
                            <td>Hoàn thành</td>
                            <td>Không hoàn thành</td>
                            <td>Sơ cấp</td>
                            <td>Trung cấp</td>
                            <td>Cao cấp</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of xepLoaiChiBoData; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.chibo}}</td>
                            <td>{{item.dangSo}}</td>
                            <td>{{item.danTocKhac}}</td>
                            <td>{{item.mienSinhHoat}}</td>
                            <td>{{item.sinhHoatTam}}</td>
                            <td>{{item.dangVienDuBi}}</td>
                            <td>{{item.dangVienNhanHuyHieuDang}}</td>
                            <td>{{item.hoanThanhXuatSac}}</td>
                            <td>{{item.hoanThanhTot}}</td>
                            <td>{{item.hoanThanh}}</td>
                            <td>{{item.khongHoanThanh}}</td>
                            <td>{{item.soCap}}</td>
                            <td>{{item.trungCap}}</td>
                            <td>{{item.caoCap}}</td>
                            <td>{{getTextXepLoai(item.xepLoai)}}</td>
                            <td>{{item.namXepLoai}}</td>
                        </tr>
                    </tbody>
                </table>
                <span *ngIf="xepLoaiChiBoData.length === 0">Không có dữ liệu được tìm thấy .</span>
            </mat-tab>
        </mat-tab-group>
        </mat-tab>
        <mat-tab label="Số liệu" style="position: relative;">
            <div class="inputGroup">
                <mat-form-field class="inputitem" appearance="legacy">
                    <mat-label>Năm</mat-label>
                    <mat-select [(ngModel)]="phieuDangVienOptionModel.nam">
                        <mat-option *ngFor="let data of nam" [value]="data">
                            {{data}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field class="inputitem" appearance="legacy">
                    <mat-label>Xếp loại Chi Bộ</mat-label>
                    <mat-select [(ngModel)]="phieuDangVienOptionModel.xepLoaiDangVien" (ngModelChange)="selectXepLoaiDangVien()">
                        <mat-option *ngFor="let data of xepLoai" [value]="data.value">
                            {{data.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
            <div class="buttonGroup">
                <button (click)="chayThongKeSoLieu()" class="btn btn-secondary">Chạy</button>
                <button (click)="tkSoLieuDangVien()" style="margin-right: 10px" class="btn btn-success">Xuất ra tập tin</button>
            </div>
            <table #tkSoLieuDangVienRefBM5>
                <thead>
                    <tr>
                        <th colspan="5">ĐẢNG BỘ QUẬN 5</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="8">ĐẢNG CỘNG SẢN VIỆT NAM</th>
                    </tr>
                    <tr>
                        <th colspan="5">ĐẢNG UỶ PHƯỜNG 10</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="8"></th>
                    </tr>
                    <tr>
                        <th colspan="5">*</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="8">Phường 10, ngày ... tháng … năm …</th>
                    </tr>
                    <tr>
                        <th colspan="16">
                            <h4>THỐNG KÊ SỐ LIỆU ĐẢNG VIÊN</h4>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4">Năm: {{this.phieuDangVienOptionModel.nam}}</th>
                        <th colspan="4"></th>
                        <th colspan="4"></th>
                        <th colspan="4"></th>
                    </tr>
                    <tr>
                        <th rowspan="2">STT</th>
                        <th rowspan="2">CHI BỘ</th>
                        <th rowspan="2">ĐẢNG SỐ</th>
                        <th rowspan="2">NỮ</th>
                        <th rowspan="2">DÂN TỘC KHÁC</th>
                        <th rowspan="2">MIỄN SINH HOẠT</th>
                        <th rowspan="2">SINH HOẠT TẠM</th>
                        <th rowspan="2">ĐẢNG VIÊN DỰ BỊ</th>
                        <th rowspan="2">SỐ ĐẢNG VIÊN NHẬN HUY HIỆU ĐẢNG</th>
                        <th colspan="4">XẾP LOẠI ĐẢNG VIÊN THEO NĂM {{this.phieuDangVienOptionModel.nam}}</th>
                        <th colspan="3">LÝ LUẬN CHÍNH TRỊ</th>
                    </tr>
                    <tr>
                        <td>Xuất sắc</td>
                        <td>Tốt</td>
                        <td>Hoàn thành</td>
                        <td>Không hoàn thành</td>
                        <td>Sơ cấp</td>
                        <td>Trung cấp</td>
                        <td>Cao cấp</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of soLieuModelsTemp; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.chibo}}</td>
                        <td>{{item.dangSo}}</td>
                        <td>{{item.nu}}</td>
                        <td>{{item.danTocKhac}}</td>
                        <td>{{item.mienSinhHoat}}</td>
                        <td>{{item.sinhHoatTam}}</td>
                        <td>{{item.dangVienDuBi}}</td>
                        <td>{{item.dangVienNhanHuyHieuDang}}</td>
                        <td>{{item.hoanThanhXuatSac}}</td>
                        <td>{{item.hoanThanhTot}}</td>
                        <td>{{item.hoanThanh}}</td>
                        <td>{{item.khongHoanThanh}}</td>
                        <td>{{item.soCap}}</td>
                        <td>{{item.trungCap}}</td>
                        <td>{{item.caoCap}}</td>
                    </tr>
                </tbody>
            </table>
            <span *ngIf="soLieuModelsTemp.length === 0">Không có dữ liệu được tìm thấy .</span>
        </mat-tab>
    </mat-tab-group>
</div>