<h2 mat-dialog-title class="dv-form-title">ĐẢNG CỘNG SẢN VIỆT NAM</h2>
<div mat-dialog-content>
  <div class="dv-header">
    <div class="dv-left-header">
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Đảng bộ tỉnh</mat-label>
        <input matInput type="text" [formControl]="dangBoTinh">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Đảng bộ huyện</mat-label>
        <input matInput type="text" [formControl]="dangBoHuyen">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Đảng bộ,chi bộ cơ sở</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Đảng bộ, bộ phận</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Chi bộ</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div class="dv-right-header">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Số lý lịch</mat-label>
        <input matInput type="text" [formControl]="soLyLich">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Số thẻ đảng viên</mat-label>
        <input matInput type="text" [formControl]="soTheDangVien">
      </mat-form-field>
      <div style="display:flex;width: 100%;height: 200px;">
        <p style="text-align: center;font-size: 45px;font-weight: bold;">Phiếu đảng<br />viên</p>
        <div style="border: 1px solid gray;text-align: center;">
          <p style="align-items: center;">
            Ảnh<br />
            (3 x 4)
          </p>
          <div style="align-self: flex-end;">
            <input type="file" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dv-body">
    <mat-form-field appearance="legacy" style="width:75%">
      <mat-label>01) Họ và tên đang dùng</mat-label>
      <input matInput type="text" [formControl]="tenDangDung">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:25%">
      <mat-label>02) Nam Nữ</mat-label>
      <input matInput type="text" [formControl]="gioiTinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:75%">
      <mat-label>03) Họ và tên khai sinh</mat-label>
      <input matInput type="text" [formControl]="tenKhaiSinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:25%">
      <mat-label>04) Sinh ngày</mat-label>
      <input matInput type="text" [formControl]="ngaySinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>05) Nơi sinh</mat-label>
      <input matInput type="text" [formControl]="noiSinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>06) Quê quán</mat-label>
      <input matInput type="text" [formControl]="queQuan">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>07) Thường trú</mat-label>
      <input matInput type="text" [formControl]="thuongTru">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Tạm trú</mat-label>
      <input matInput type="text" [formControl]="tamTru">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>08) Dân tộc</mat-label>
      <input matInput type="text" [formControl]="danToc">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>09) Tôn giáo</mat-label>
      <input matInput type="text" [formControl]="tonGiao">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>10) Thành phần gia đình</mat-label>
      <input matInput type="text" [formControl]="thanhPhanGiaDinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>111) Nghề nghiệp hiện tay</mat-label>
      <input matInput type="text" [formControl]="ngheNghiep">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:40%">
      <mat-label>12) Ngày vào đảng</mat-label>
      <input matInput type="text" [formControl]="ngayVaoDang">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:60%">
      <mat-label>Tại chi bộ</mat-label>
      <input matInput type="text" [formControl]="chiBoVaoDang">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>13) Ngày tuyển dụng</mat-label>
      <input matInput type="text" [formControl]="ngayDuocTuyen">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Cơ quan tuyển dụng</mat-label>
      <input matInput type="text" [formControl]="coQuanTuyenDung">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>14) Ngày vào đoàn TNCS Hồ Chí Minh</mat-label>
      <input matInput type="text" [formControl]="ngayVaoDoan">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>15) Tham gia các tổ chức xã hội khác</mat-label>
      <input matInput type="text" [formControl]="thamGiaToChucXaHoi">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>16) Ngày nhập ngũ</mat-label>
      <input matInput type="text" [formControl]="ngayNhapNgu">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Ngày xuất ngũ/ chuyển ngành</mat-label>
      <input matInput type="text" [formControl]="ngayXuatNgu">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>17) Trình độ hiện nay</mat-label>
      <input matInput type="text" [formControl]="trinhDo">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>18) Trình trạng sức khỏe bản thân</mat-label>
      <input matInput type="text" [formControl]="tinhTrangSucKhoe">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>19) Số chứng minh ND</mat-label>
      <input matInput type="text" [formControl]="soCmnd">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>20) Được miễn công tác và SHD ngày</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>21) Tóm tắt quá trình hoạt động và công tác</mat-label>
      <input matInput type="text" [formControl]="quaTringHoatDongVaCongTac">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>21) Đào tạo bồi dưỡng về chuyên môn, nghiệp vụ, lý luận chính trị, ngoại ngữ</mat-label>
      <input matInput type="text" [formControl]="daoTao">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>23) Khen thưởng</mat-label>
      <input matInput type="text" [formControl]="khenThuong">
    </mat-form-field>
    <section class="full-width check-box">
      <label>24) Đã được tặng huy hiệu đảng:</label>
      <mat-checkbox [formControl]="huyHieu">30 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">40 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">45 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">50 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">55 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">60 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">65 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">70 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">75 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">80 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">85 năm</mat-checkbox>
      <mat-checkbox [formControl]="huyHieu">90 năm</mat-checkbox>
    </section>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>25) Danh hiệu được phong tặng</mat-label>
      <input matInput type="text" [formControl]="danhHieu">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>26) Kỷ luật</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <h1 style="text-align:center">27) Đặc điểm lịch sử bản thân</h1>
    <div>
      <label>a) Bị xóa tên trong danh sách đảng viên</label><br />
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>Thời gian</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Tại chi bộ</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div>
      <label>Được kết nạp lại vào đảng</label><br />
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Ngày vào đảng lần thứ 2</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>Tại chi bộ</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Người giới thiệu 1</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>chức vụ, đơn vị</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Người giới thiệu 2</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>chức vụ, đơn vị</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Ngày chính thức lần thứ 2</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>Tại chi bộ</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Bị xử lý theo pháp luật <i>(ngày, tháng, năm; chính quyền nào xử lý; hình thức xử lý; nơi thi hành
          án;..)</i></mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Bản thân có làm việc trong chế độ cũ <i>(ngày, tháng, năm; nơi làm việc)</i></mat-label>
      <input matInput type="text">
    </mat-form-field>
    <h1 style="text-align:center">28 Quan hệ nước ngoài</h1>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Đã đi nước ngoài <i></i></mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="onSaveClick()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
