.dv-form-title {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.dv-header,
.dv-bottom,
.flex {
  display: flex;
}

.flex > div {
  border: 1px solid black;
}

.dv-header {
  div {
    width: 50%;
    padding: 10px;
  }
}

.full-width {
  width: 100%;
}

.dv-left-header {
  display: block;
}

mat-form-field {
  padding: 0 20px;
}

.check-box {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 400;
}

.sub-field {
  width: 50%;
  display: inline-block;
}

.unit {
  display: inline-block;
  right: 0;
  text-align: right;
  position: absolute;
  font-weight: 00;
  color: grey;
  font-size: 14px;
  bottom: 8px;
}

.unit-field {
  width: calc(100% - 35px);
}

.table-textarea {
  text-align: center;
  b { 
    font-size: 0.9em;
  }
  textarea {
    width: 820px !important;
  }
}