<h2 mat-dialog-title class="dv-form-title">ĐẢNG CỘNG SẢN VIỆT NAM</h2>
<div mat-dialog-content [formGroup]="dangVienForm" #topdf id="topdf">
  <div class="dv-header">
    <div class="dv-left-header">
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Đảng bộ tỉnh</mat-label>
        <input matInput type="text" formControlName="dangBoTinh">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Đảng bộ huyện</mat-label>
        <input matInput type="text" formControlName="dangBoHuyen">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Đảng bộ,chi bộ cơ sở</mat-label>
        <mat-select formControlName="chiBoCoSo">
          <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
            {{cb.tenChiBo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>Đảng bộ, bộ phận</mat-label>
        <input matInput type="text" formControlName="boPhan">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Chi bộ</mat-label>
        <mat-select formControlName="chiBo">
          <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
            {{cb.tenChiBo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="dv-right-header">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Số lý lịch</mat-label>
        <input matInput type="text" formControlName="soLyLich">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Số thẻ đảng viên</mat-label>
        <input matInput type="text" formControlName="soTheDangVien">
      </mat-form-field>
      <div style="display:flex;width: 100%;height: 200px;">
        <p style="text-align: center;font-size: 45px;font-weight: bold;">Phiếu đảng<br />viên</p>
        <div style="border: 1px solid gray;text-align: center;">
          <div style="align-self: flex-end;">
            <!-- <input type="file" name="image" (change)="fileProgress($event)" /> -->
            <label>
              <input style="display:none" type="file" name="image" (change)="fileProgress($event)" />
              <span class="btn btn-secondary">Chọn hình</span>
            </label>
          </div>
          <p *ngIf="!anh3x4" style="align-items: center;">
            Ảnh<br />
            (3 x 4)
          </p>
          <img *ngIf="anh3x4" [src]="anh3x4" height="110px" width="90px" />
        </div>
      </div>
    </div>
  </div>
  <div class="dv-body">
    <mat-form-field appearance="legacy" style="width:75%">
      <mat-label>01) Họ và tên đang dùng</mat-label>
      <input matInput type="text" formControlName="tenDangDung">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:25%">
      <mat-label>02) Nam Nữ</mat-label>
      <input matInput type="text" formControlName="gioiTinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:75%">
      <mat-label>03) Họ và tên khai sinh</mat-label>
      <input matInput type="text" formControlName="tenKhaiSinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:25%">
      <mat-label>04) Sinh ngày</mat-label>
      <input matInput type="text" formControlName="ngaySinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>05) Nơi sinh</mat-label>
      <input matInput type="text" formControlName="noiSinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>06) Quê quán</mat-label>
      <input matInput type="text" formControlName="queQuan">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>07) Thường trú</mat-label>
      <input matInput type="text" formControlName="thuongTru">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Tạm trú</mat-label>
      <input matInput type="text" formControlName="tamTru">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>08) Dân tộc</mat-label>
      <input matInput type="text" formControlName="danToc">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>09) Tôn giáo</mat-label>
      <input matInput type="text" formControlName="tonGiao">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>10) Thành phần gia đình</mat-label>
      <input matInput type="text" formControlName="thanhPhanGiaDinh">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>11) Nghề nghiệp hiện tay</mat-label>
      <input matInput type="text" formControlName="ngheNghiep">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:40%">
      <mat-label>12) Ngày vào đảng</mat-label>
      <input matInput type="text" formControlName="ngayVaoDang">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:60%">
      <mat-label>Tại chi bộ</mat-label>
      <mat-select formControlName="chiBoVaoDang">
        <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
          {{cb.tenChiBo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%;padding-left: 25px;">
      <mat-label>Người giới thiệu thứ 1:</mat-label>
      <input matInput type="text" formControlName="nguoiGioiThieuMot">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%;">
      <mat-label>Chức vụ,đơn vị:</mat-label>
      <input matInput type="text" formControlName="chucVuNguoiGioiThieuMot">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%;padding-left: 25px;">
      <mat-label>Người giới thiệu thứ 2:</mat-label>
      <input matInput type="text" formControlName="nguoiGioiThieuMot">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%;">
      <mat-label>Chức vụ, đơn vị:</mat-label>
      <input matInput type="text" formControlName="chucVuNguoiGioiThieuMot">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:100%;padding-left: 25px;">
      <mat-label>Ngày cấp có thẩm quyền ra quyết định kết nạp:</mat-label>
      <input matInput type="text" formControlName="ngayQuyetDinhKetNap">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:40%;padding-left: 25px;">
      <mat-label>Ngày chính thức :</mat-label>
      <input matInput type="text" formControlName="ngayChinhThucVaoDang">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:60%">
      <mat-label>Tại chi bộ</mat-label>
      <mat-select formControlName="chiBoChinhThucVaoDang">
        <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
          {{cb.tenChiBo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>13) Ngày tuyển dụng</mat-label>
      <input matInput type="text" formControlName="ngayDuocTuyen">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Cơ quan tuyển dụng</mat-label>
      <input matInput type="text" formControlName="coQuanTuyenDung">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>14) Ngày vào đoàn TNCS Hồ Chí Minh</mat-label>
      <input matInput type="text" formControlName="ngayVaoDoan">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>15) Tham gia các tổ chức xã hội khác</mat-label>
      <input matInput type="text" formControlName="thamGiaToChucXaHoi">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>16) Ngày nhập ngũ</mat-label>
      <input matInput type="text" formControlName="ngayNhapNgu">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Ngày xuất ngũ/ chuyển ngành</mat-label>
      <input matInput type="text" formControlName="ngayXuatNgu">
    </mat-form-field>
    <div style="width: 100%;">
      <mat-label>17) Trình độ hiện nay</mat-label>
    </div>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Giáo dục phổ thông</mat-label>
      <input matInput type="text" formControlName="giaoDucPhoThong">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 100%;">
      <mat-label>Giáo dục nghề nghiệp</mat-label>
      <input matInput type="text" formControlName="giaoDucNgheNghiep">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Học vị</mat-label>
      <input matInput type="text" formControlName="hocVi">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Học hàm</mat-label>
      <input matInput type="text" formControlName="hocHam">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Lý luận chính trị</mat-label>
      <input matInput type="text" formControlName="lyLuanChinhTri">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>Ngoại ngữ</mat-label>
      <input matInput type="text" formControlName="ngoaiNgu">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 100%;">
      <mat-label>Tin học</mat-label>
      <input matInput type="text" formControlName="tinHoc">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 100%;">
      <mat-label>Giáo dục đại học và sau đại học</mat-label>
      <input matInput type="text" formControlName="giaoDucDaiHocVaSauDaiHoc">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>18) Trình trạng sức khỏe bản thân</mat-label>
      <input matInput type="text" formControlName="tinhTrangSucKhoe">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>- Thương binh loại:</mat-label>
      <input matInput type="text" formControlName="thuongBinhLoai">
    </mat-form-field>
    <div appearance="legacy" class="sub-field">
      <mat-label>Gia đình liệt sĩ</mat-label>
      <mat-checkbox matInput formControlName="giaDinhLietSi"></mat-checkbox>
    </div>
    <div appearance="legacy" class="sub-field">
      <mat-label>Gia đình có công với cách mạng:</mat-label>
      <mat-checkbox matInput formControlName="giaDinhCoCongCachMang"></mat-checkbox>
    </div>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>19) Số chứng minh ND</mat-label>
      <input matInput type="text" formControlName="soCmnd">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 100%;">
      <mat-label>(hoặc số căn cước công dân):</mat-label>
      <input matInput type="text" formControlName="canCuocCongDan">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width: 50%;">
      <mat-label>20) Được miễn công tác và SHD ngày</mat-label>
      <input matInput type="text" formControlName="mienCongTacNgay">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>21) Tóm tắt quá trình hoạt động và công tác</mat-label>
      <input matInput type="text" formControlName="quaTrinhHoatDongVaCongTac">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>21) Đào tạo bồi dưỡng về chuyên môn, nghiệp vụ, lý luận chính trị, ngoại ngữ</mat-label>
      <input matInput type="text" formControlName="daoTao">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>23) Khen thưởng</mat-label>
      <input matInput type="text" formControlName="khenThuong">
    </mat-form-field>
    <label>24) Huy Hiệu</label>
    <mat-radio-group aria-label="Select an option" formControlName="huyHieu">
      <mat-radio-button *ngFor="let huyhieu of danhSachHuyHieu" [value]="huyhieu.value">
        {{huyhieu.display}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>25) Danh hiệu được phong tặng</mat-label>
      <input matInput type="text" formControlName="danhHieu">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>26) Kỷ luật</mat-label>
      <input matInput type="text" formControlName="kyLuat">
    </mat-form-field>
    <h1 style="text-align:center">27) Đặc điểm lịch sử bản thân</h1>
    <div>
      <label>a) Bị xóa tên trong danh sách đảng viên</label><br />
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>Thời gian</mat-label>
        <input matInput type="text" formControlName="thoiGianBiXoa">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Tại chi bộ</mat-label>
        <mat-select formControlName="chiBoBiXoa">
          <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
            {{cb.tenChiBo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label>Được kết nạp lại vào đảng</label><br />
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Ngày vào đảng lần thứ 2</mat-label>
        <input matInput type="text" formControlName="ngayVaoDangLanHai">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>Tại chi bộ</mat-label>
        <mat-select formControlName="chiBoVaoDangLanHai">
          <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
            {{cb.tenChiBo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Người giới thiệu 1</mat-label>
        <input matInput type="text" formControlName="nguoiGioiThieuMotLanHai">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>chức vụ, đơn vị</mat-label>
        <input matInput type="text" formControlName="chucVuNguoiGioiThieuMotLanHai">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Người giới thiệu 2</mat-label>
        <input matInput type="text" formControlName="nguoiGioiThieuHaiLanHai">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>chức vụ, đơn vị</mat-label>
        <input matInput type="text" formControlName="chucVuNguoiGioiThieuHaiLanHai">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:60%">
        <mat-label>Ngày chính thức lần thứ 2</mat-label>
        <input matInput type="text" formControlName="ngayChinhThucVaoLanHai">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width:40%">
        <mat-label>Tại chi bộ</mat-label>
        <mat-select formControlName="chiBoChinhThucVaoDangLanHai">
          <mat-option *ngFor="let cb of chibos" [value]="cb.maChiBo">
            {{cb.tenChiBo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Ngày được khôi phục đảng tịch</mat-label>
      <input matInput type="text" formControlName="ngayKhoiPhucDang">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Bị xử lý theo pháp luật <i>(ngày, tháng, năm; chính quyền nào xử lý; hình thức xử lý; nơi thi hành
          án;..)</i></mat-label>
      <input matInput type="text" formControlName="biXuLyTheoPhapLuat">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Bản thân có làm việc trong chế độ cũ <i>(ngày, tháng, năm; nơi làm việc)</i></mat-label>
      <input matInput type="text" formControlName="lamViecTrongCheDoCu">
    </mat-form-field>
    <h1 style="text-align:center">28 Quan hệ nước ngoài</h1>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Đã đi nước ngoài</mat-label>
      <input matInput type="text" formControlName="daDiNuocNgoai">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Tham gia hoặc có quan hệ với các tổ chức chính trị, kinh tế, xã hội ở nước ngoài</mat-label>
      <input matInput type="text" formControlName="thamGiaToChucNuocNgoai">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Có người thân ở nước ngoài<i>(tên người, quan hệ gì, ở nước nào)</i></mat-label>
      <input matInput type="text" formControlName="coNguoiThanNuocNgoai">
    </mat-form-field>
    <h1 style="text-align:center">29) Quan hệ gia đình</h1>
    <textarea class="full-width" formControlName="quanHeGiaDinh"></textarea>
    <h1 style="text-align:center">30) Hoàn cảnh kinh tế của bản thân và gia đình</h1>
    <mat-form-field appearance="legacy" style="width:70%;padding-right:0">
      <mat-label>Tổng thu nhập của hộ gia đình<i>(trong 1 năm)</i></mat-label>
      <input matInput type="text" formControlName="tongThuNhap">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:30%;padding-left:0">
      <mat-label>bình quân 1 người/hộ</mat-label>
      <input matInput type="text" formControlName="binhQuan">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%;">
      <mat-label>Nhà ở được cấp, được thuê, loại nhà</mat-label>
      <input matInput type="text" formControlName="loaiNhaDuocCap">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%;">
      <mat-label>tổng diện tích sử dụng</mat-label>
      <input matInput type="text" formControlName="dienTichNhaDuocCap">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%;">
      <mat-label>Nhà được mua, tự xây, loại nhà</mat-label>
      <input matInput type="text" formControlName="loaiNhaDuocMua">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%;">
      <mat-label>tổng diện tích sử dụng</mat-label>
      <input matInput type="text" formControlName="dienTichNhaDuocMua">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%">
      <mat-label>Đất ở, đất được cấp</mat-label>
      <input matInput type="text" formControlName="datDuocCap">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%">
      <mat-label>Đất tự mua</mat-label>
      <input matInput type="text" formControlName="datDuocMua">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Hoạt động kinh tế</mat-label>
      <input matInput type="text" formControlName="hoatDongKinhTe">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%">
      <mat-label>Diện tích đất kinh tế doanh trại</mat-label>
      <input matInput type="text" formControlName="dienTichDatTrangTrai">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%">
      <mat-label>Số lao động thuê mướn</mat-label>
      <input matInput type="text" formControlName="soLaoDongThue">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%">
      <mat-label>Những tài sản có giá trị<i>(50 triệu đồng trở lên)</i> Tài sản</mat-label>
      <input matInput type="text" formControlName="taiSanCoGiaTri">
    </mat-form-field>
    <mat-form-field appearance="legacy" style="width:50%">
      <mat-label>Giá trị</mat-label>
      <input matInput type="text" formControlName="giaTriTaiSan">
    </mat-form-field>
  </div>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Đóng</button>
  <button mat-button [mat-dialog-close]="true" (click)="onSaveClick()" cdkFocusInitial>Lưu</button>
  <button mat-button mat-dialog-close (click)="preview()">Preview PDF</button>
</mat-dialog-actions>
