html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.color-1 {
  color: #5680E9;
}
.color-2 {
  color: #84CEEB;
}
.color-3 {
  color: #5AB9EA;
}
.color-4 {
  color: #C1C8E4;
}
.color-5 {
  color: #8860D0;
}