<div class="header-page">
    <span>Quản Lý Đảng Viên 213</span>
</div>
<div class="content-page">
    <div class="header-content-page">
        <form class="search-form">
            <button style="margin-right: 20px;" (click)="importExcel()" class="btn btn-warning">Nhập từ tập tin</button> 
            <button style="margin-right: 20px;" (click)="exportToExcel()" class="btn btn-success">Xuất ra tập tin</button> 
            <mat-form-field class="example-full-width">
              <mat-label>Từ khóa</mat-label>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort matTooltip="Kích vào mã số chi bộ để xem chi tiết">
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã số </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="maDv">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã Số Đảng viên </th>
            <td mat-cell *matCellDef="let element" (click)="selectItem(element.id)" > {{element.maDv}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="tenDv">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Đảng viên </th>
            <td mat-cell *matCellDef="let element"> {{element.tenDv}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="ngaySinh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày sinh </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaySinh}} </td>
          </ng-container>
          <ng-container matColumnDef="gioTinh">
            <th mat-header-cell *matHeaderCellDef> Giới Tính </th>
            <td mat-cell *matCellDef="let element"> {{element.gioTinh}} </td>
          </ng-container>
          <ng-container matColumnDef="diaChi">
            <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
            <td mat-cell *matCellDef="let element"> {{element.diaChi}} </td>
          </ng-container>
          <ng-container matColumnDef="noiCongTac">
            <th mat-header-cell *matHeaderCellDef> Nơi công tác </th>
            <td mat-cell *matCellDef="let element"> {{element.noiCongTac}} </td>
          </ng-container>
          <ng-container matColumnDef="tinhTrang">
            <th mat-header-cell *matHeaderCellDef> Tình trạng </th>
            <td mat-cell *matCellDef="let element"> {{element.tinhTrang}} </td>
          </ng-container>
          <ng-container matColumnDef="ngayQuanLy">
            <th mat-header-cell *matHeaderCellDef> Ngày Quản Lý </th>
            <td mat-cell *matCellDef="let element"> {{element.ngayQuanLy}} </td>
          </ng-container>
          <ng-container matColumnDef="maChiDo">
            <th mat-header-cell *matHeaderCellDef> Mã số Chi Bộ </th>
            <td mat-cell *matCellDef="let element"> {{element.maChiDo}} </td>
          </ng-container>
          <ng-container matColumnDef="ghiChu">
            <th mat-header-cell *matHeaderCellDef> Ghi Chú </th>
            <td mat-cell *matCellDef="let element"> {{element.ghiChu}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
               <mat-icon aria-hidden="false" (click)="removeItem(element.id)" aria-label="Example home icon">delete_forever</mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator pageSize=10 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<div class="bottom-page">
    <button mat-fab color="accent" (click)="openDialog()" aria-label="Example icon button with a bookmark icon">
      Tạo mới
    </button>
</div>
