.header-page{
    width: 100%;
    background: #3f51b5;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
}
.header-page span{
    font-size: 20px;
    font-weight: 500;
}
.content-page {
    max-height: 100%;
    overflow: auto;
    padding: 10px;
    
}
table {
    width: 100%;
}
.search-form{
    float: right;
    padding: 10px;
}
.bottom-page{
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.bottom-page button {
    border-radius: 50%;
    background: #f44336;
    color: #ffff;
    width: 60px;
    height: 60px;
    border: none;
}

.mat-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.mat-header-cell{
    color: white;
}